<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Instructions pour supprimer un compte</title>
    <style type="text/css">
    </style>
</head>

<body>
    
    
    <h1>Instructions pour supprimer un compte</h1>
    <ul>
        <li>Pour supprimer votre compte, allez sur <a href="https://commeundessein.co/">commeundessein.co</a>, cliquez sur "Aller sur l'application" puis choisissez l'édition en cours. </li>
        <li>Une fois sur l'application, cliquez sur le bouton profile dans la barre d'outil en haut à gauche et choisissez "Profile".</li>
        <li>Cliquez ensuite sur "Supprimer le compte", puis validez en cliquant à nouveau sur "Supprimer le compte".</li>
    </ul>

</body>

</html>